<app-alert *ngIf="showAlert" [mensagem]="alertMessage"></app-alert>
<main>
  <form (submit)="realizarLogin()">
    <div class="text-center">
      <img class="my-5 img-fluid" src="../../assets/img/logo.png" />
      <div class="my-5">
        <input
          type="text"
          name="login"
          [(ngModel)]="login"
          class="d-block border mx-auto p-3 formComponent"
          placeholder="Digite o código do exame"
        />
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          class="d-block border border-top-0 mx-auto p-3 formComponent"
          placeholder="Digite a senha de acesso"
        />
        <button
          type="submit"
          class="d-block btn btn-primary rounded-pill px-4 mx-auto mt-5"
        >
          Entrar
        </button>
      </div>
      <div class="mt-5 mx-auto font-weight-bold formComponent">
        Pacientes, em caso de dúvidas e/ou problemas de acesso, entrar em
        contato com nossa central de atendimento pelo telefone (85) XXXX-XXXX.
      </div>
    </div>
  </form>
</main>
