<mat-card
  [ngClass]="{ 'bg-primary': exame.show, 'text-white': exame.show }"
  (click)="exameClicked(!exame.show)"
>
  <mat-card-subtitle
    class="d-inline-block mr-3"
    [ngClass]="{ 'text-white': exame.show }"
    >{{ exame.dia }}</mat-card-subtitle
  >
  <mat-card-subtitle
    class="d-inline-block mr-5"
    [ngClass]="{ 'text-white': exame.show }"
    >{{ exame.data }}</mat-card-subtitle
  >
  <mat-card-subtitle
    class="d-inline-block ml-5"
    [ngClass]="{ 'text-white': exame.show }"
    >{{ exame.medico }}</mat-card-subtitle
  >
  <mat-card-title>{{ exame.exame }}</mat-card-title>
</mat-card>
<div @expandableState *ngIf="exame.show">
  <mat-card>
    <button
      type="button"
      class="d-inline-block btn btn-primary rounded-pill mx-1"
      (click)="downloadLaudo()"
    >
      VER LAUDO
    </button>
    <button
      type="button"
      class="d-inline-block btn btn-light text-primary rounded-pill mx-1"
      (click)="downloadImagem()"
    >
      BAIXAR IMAGENS
    </button>
  </mat-card>
</div>
