<div *ngIf="user">
  <header>
    <div class="bg-white p-2 mb-4 text-center" [style.height.px]="60">
      <img
        class="img-fluid w-auto h-100 float-left d-none d-sm-block"
        src="../../assets/img/logo.png"
      />
      <h6>{{ user.name }}</h6>
    </div>
  </header>
  <main>
    <div>
      <h6 class="ml-4 mb-4">MEUS EXAMES</h6>
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="mx-2">
        <div class="mb-3" *ngFor="let exame of user.exames" cdkDrag>
          <mat-card
            [ngClass]="{ 'bg-primary': exame.show, 'text-white': exame.show }"
            (click)="exame.show = !exame.show"
          >
            <mat-card-subtitle
              class="d-inline-block mr-3"
              [ngClass]="{ 'text-white': exame.show }"
              >{{ exame.dia }}</mat-card-subtitle
            >
            <mat-card-subtitle
              class="d-inline-block mr-5"
              [ngClass]="{ 'text-white': exame.show }"
              >{{ exame.data }}</mat-card-subtitle
            >
            <mat-card-subtitle
              class="d-inline-block ml-5"
              [ngClass]="{ 'text-white': exame.show }"
              >{{ exame.medico }}</mat-card-subtitle
            >
            <mat-card-title>{{ exame.exame }}</mat-card-title>
          </mat-card>
          <div *ngIf="exame.show">
            <mat-card>
              <button
                type="button"
                class="d-inline-block btn btn-primary rounded-pill mx-1"
              >
                VER LAUDO
              </button>
              <button
                type="button"
                class="d-inline-block btn btn-light rounded-pill mx-1"
              >
                BAIXAR IMAGENS
              </button>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
