<div *ngIf="user; else elseBlock">
  <header>
    <app-home-header [userName]="user.name"></app-home-header>
  </header>

  <main>
    <div>
      <h6 class="ml-4 mb-4">MEUS EXAMES</h6>
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="mx-2">
        <div class="mb-3" *ngFor="let exame of user.exames" cdkDrag>
          <app-home-body-desktop
            [exame]="exame"
            class="d-none d-sm-block"
          ></app-home-body-desktop>
          <!-- TODO: Manter integridade entre exames abertos e fechados após mudança de tela -->
          <app-home-body-mobile
            [exame]="exame"
            class="d-block d-xs-block d-sm-none"
          ></app-home-body-mobile>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #elseBlock class="d-block mx-auto">
  <app-alert *ngIf="showAlert" [mensagem]="alertMessage"></app-alert>
  <mat-spinner *ngIf="loading" diameter="40" class="mx-auto"></mat-spinner>
</ng-template>
